<h1>商品一覧</h1>
<%= link_to new_admin_item_path do %>
 <i class="fas fa-plus-circle fa-3x"></i>
<% end %>
<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">税抜価格</th>
      <th scope="col">ジャンル</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <th scope="row"><%= item.id %></th>
      <td><%= link_to item.name, admin_item_path(item) %></td>
      <td><%= item.tax_out_price %></td>
      <td><%= item.genre.name %></td>
      <td>
          <% if item.is_sale? %>
          販売停止中
        　<% else %>
        　販売中
        　<% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>