<h2>商品新規登録</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>商品新規登録</h2>
      <%= render "admin/shared/error_messages", resource: @item %>
      <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
      　<div class="form_group">
          <label>商品画像</label><br>
          <%= f.attachment_field :image %>
        </div>
        <div class="form_group">
          <label>商品名</label><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form_group">
          <label>商品説明</label><br>
          <%= f.text_area :explanation, class: "form-control" %>
        </div>
        <div class="form_group">
          <label>ジャンル</label><br>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: '--選択してください--' %>

        </div>
        <div class="form_group">
          <label>税抜価格</label><br>
          <%= f.text_field :tax_out_price %>
        </div>
        <div class="form_group">
          <label>販売ステータス</label>
          <%= f.radio_button :is_sale, false %>
          <%= f.label :is_sale, "販売中", {style: "display: inline-block;"} %>
          <%= f.radio_button :is_sale, true %>
          <%= f.label :is_sale, "販売停止中", {style: "display: inline-block;"} %>
        </div>
        <div class="form_group">
          <%= f.submit "新規登録", class: "btn btn-secondary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
