<h1>
 <% if params[:genre_id] %>
   <%= @genre.name %>一覧（全<%= @items.records.count %>件）
 <% else %>
   商品一覧（全<%= @items.records.count %>件）
 <% end %>
</h1>
<div class="container">
 <div class="row">
 <div class="col-md-3">
  <%= render 'admin/genres/sidebar', genres: @genres %>
 </div>
 <div class="col-md-9" >
  <table class="table">
   <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= attachment_image_tag item, :image, size: "100x100", fallback: "no_image.jpg" %></td>
      <td><%= link_to item.name, item_path(item) %></td>
      <td>￥<%= (item.tax_out_price*1.1).floor %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
 </div>
 </div>
</div>